/*CSS DOCUMENT*/
nav ul li{
    text-decoration: none;
    list-style: none;
    display: inline;
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav ul li a{
    text-decoration: none;
    list-style: none;
    padding: 0em;
    display: inline;
    margin-right: 2em;
    text-transform: uppercase;
    color: cadetblue;
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.1em;
}

img {
    width: 90%;
    margin: 2em 0em 0em 0em;
}

h1{
    font-family: serif;
    margin: 0em 0em 0em 1.4em;
}

h2{
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 1em 0em 0em 2em;
    color: red;
}

h3{
    margin: 1.5em 0em 1em 2.6em;
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h4{
    font-family: interstate, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 1.5em 0em 0em 2em;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

p{
    font-family: interstate, sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 0.5em;
}

h5{
    font-family: interstate, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .9em;
    margin: 1.5em 0em 0em 3em;
}

ul{
    font-family: sans-serif;
    margin: 0em 0em 0em 1.4em;
    font-size: .9em;
    width: 70%;
    list-style: none;
}

div.picture{
    margin: 1em 0em 0em 2em;
}