/*CSS Document*/

h1{
    font-family: sans-serif;
    color: #022D36;
    text-transform: uppercase;
    margin-bottom: 0.75em;
    font-size: 2.5em;
    text-align: center;
}

h2{
    font-family: sans-serif;
    color: #2C3E4C;
    font-size: 1.5em;
    text-align: center;
    margin: 1em 1em 1em 1em;
}

h3{
    font-family: sans-serif;
    margin: 2em 0em 1em 3em;
    color: #2C3E4C;
}

h4{
    font-family: sans-serif;
    margin: 1em 0em 1em 1.9em;
    color: #016064;
}

p.description{
    font-family: sans-serif;
    color: #747C88;
    font-size: .90em;
    margin: -1em 0em 1em 3em;
}

p.price{
    font-family: sans-serif;
    color: #747C88;
    font-size: .90em;
    margin: -1em 0em 0em 3em; 
}
